/* Color variables */
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Arima", "Helvetica Neue", sans-serif;
  color: rgb(45, 45, 45);
  margin: 0 10% 0 10%;
}

/* Header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 3%;
  padding: 30px;
  border-bottom: 1px solid rgb(45, 45, 45);
}
header .title {
  width: 90%;
  padding: 10px;
}
header h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: center;
}
header .subtitle {
  width: 90%;
  margin: 20px 0 60px 0;
  text-align: center;
}
header .subtitle p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2em;
}

/* Stats Section */
.stat-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
.stat-section .stat-1,
.stat-section .stat-2,
.stat-section .stat-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 25%;
  height: 170px;
  background-color: rgb(195, 223, 227);
  border-radius: 10px;
  margin: 25px;
}
.stat-section .stat-number {
  font-size: 40px;
  font-weight: 700;
}
.stat-section .stat-description {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  text-align: center;
  padding: 0px 25px 0 25px;
}

/* Graphic Section */
.graphic-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  margin-bottom: 75px;
}
.graphic-section .state-list {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 60px;
}
.graphic-section .state-list .stateName {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  border: 2px solid rgb(195, 223, 227);
  border-radius: 5px;
  margin: 7px;
  padding: 12px;
  z-index: 10;
  color: rgb(45, 45, 45);
  background-color: white;
  transition: background-color 400ms ease;
  cursor: pointer;
}
.graphic-section .state-list .stateName:hover {
  background-color: rgb(222, 222, 222);
}
.graphic-section .state-list .selected,
.graphic-section .state-list .selected-dc {
  color: white;
  background-color: rgb(46, 184, 194);
}
.graphic-section .state-list .selected:hover,
.graphic-section .state-list .selected-dc:hover {
  color: white;
  background-color: rgb(46, 184, 194);
}
.graphic-section .state-list .selected:active,
.graphic-section .state-list .selected-dc:active {
  color: rgb(45, 45, 45);
  background: rgb(222, 222, 222);
}
.graphic-section .map-image {
  width: 50%;
}
.graphic-section .map-image svg {
  width: 100%;
}

/* Finish Modal */
.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  -webkit-animation: fadein 800ms;
          animation: fadein 800ms;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 25%;
  height: 16%;
  background-color: white;
  filter: drop-shadow(5px 5px 15px rgba(45, 45, 45, 0.5));
  border-radius: 10px;
  padding: 20px;
}

.modal-text {
  padding: 30px;
}
.modal-text h3 {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2em;
}
.modal-text p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  line-height: 1.2em;
}

.close {
  align-self: flex-end;
  font-size: 28px;
  line-height: 1em;
  font-weight: bold;
  color: rgb(222, 222, 222);
}

.close:hover,
.close:focus {
  color: rgb(45, 45, 45);
  text-decoration: none;
  cursor: pointer;
}

/* Desktop size */
@media only screen and (min-width: 750px) and (max-width: 1500px) {
  header {
    margin-top: 30px;
  }
  header h1 {
    font-size: 40px;
  }
  header .subtitle {
    margin: 20px 0 20px 0;
  }
  .stat-section {
    margin-top: 30px;
  }
  .graphic-section {
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .graphic-section .state-list {
    justify-content: center;
    width: 100%;
    margin-top: 0px;
  }
  .graphic-section .map-image {
    width: 90%;
    margin-top: 20px;
  }
  .graphic-section svg {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    width: 40%;
    height: 17%;
  }
}
/* iPad size */
@media only screen and (min-width: 550px) and (max-width: 750px) {
  header {
    margin-top: 30px;
  }
  header h1 {
    font-size: 40px;
  }
  header .subtitle {
    margin: 20px 0 20px 0;
  }
  .stat-section {
    margin-top: 30px;
  }
  .stat-section .stat-1,
.stat-section .stat-2,
.stat-section .stat-3 {
    width: 45%;
    height: 170px;
    margin: 11px;
    padding: 10px 0px 10px 0;
  }
  .graphic-section {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .graphic-section .state-list {
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  .graphic-section .map-image {
    width: 90%;
    margin-top: 20px;
  }
  .graphic-section svg {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    width: 50%;
    height: 16%;
  }
  .modal-content .modal-text h3 {
    font-size: 30px;
  }
  .modal-content .modal-text p {
    font-size: 22px;
  }
}
/* Phone size */
@media only screen and (max-width: 550px) {
  header {
    margin-top: 0px;
  }
  header .title {
    width: 100%;
  }
  header h1 {
    font-size: 34px;
  }
  header .subtitle {
    margin: 10px 0 10px 0;
    width: 100%;
  }
  .stat-section {
    flex-direction: column;
    margin-top: 30px;
  }
  .stat-section .stat-1,
.stat-section .stat-2,
.stat-section .stat-3 {
    width: 85%;
    height: 110px;
    margin: 8px;
  }
  .stat-section .stat-number {
    font-size: 30px;
  }
  .stat-section .stat-description {
    font-size: 16px;
    padding: 0px 35px 0px 35px;
  }
  .graphic-section {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .graphic-section .state-list {
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }
  .graphic-section .state-list .stateName {
    font-size: 13px;
    margin: 5px;
    padding: 8px;
  }
  .graphic-section .map-image {
    width: 90%;
    margin-top: 20px;
  }
  .graphic-section svg {
    width: 100%;
    height: 100%;
  }
  .modal-content {
    width: 70%;
    height: 16%;
  }
  .modal-text h3 {
    font-size: 26px;
  }
  .modal-text p {
    font-size: 18px;
  }
}/*# sourceMappingURL=style.css.map */